#qt_content_fullscreen.active {
	background: #ebebeb;
	border-color: #999;
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}

#qt_content_fullscreen:focus {
	outline: none;
}

.quicklinks {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.quicklinks,
.wrap-h2 {
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.focus-on .quicklinks,
.focus-on .wrap h2 {
	opacity: 0;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}

#titlediv #title {
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
}

.focus-on #titlediv #title {
	background: transparent;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0);
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}

#screen-meta-links,
#adminmenuback,
#adminmenuwrap,
.postbox-container {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
}

.focus-on #screen-meta-links {
	-webkit-transform: translateY(-30px);
	webkit-transform: translateY(-30px);
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}

.focus-on #adminmenuback,
.focus-on #adminmenuwrap {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	transition-duration: .4s;
}

.focus-on .postbox-container {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}

#edit-slug-box {
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.focus-on #edit-slug-box {
	opacity: .4;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
}
