#qt_content_fullscreen.active {
	background: #ebebeb;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}

#qt_content_fullscreen:focus {
	outline: none;
}

.focus-on .wrap > h2,
.focus-on #wpfooter,
.focus-on .postbox-container,
.focus-on div.updated,
.focus-on div.error,
.focus-on #wp-toolbar {
	opacity: 0;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.focus-off .wrap > h2,
.focus-off #wpfooter,
.focus-off .postbox-container,
.focus-off div.updated,
.focus-off div.error,
.focus-off #wp-toolbar {
	opacity: 1;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.focus-on #adminmenuback,
.focus-on #adminmenuwrap,
.focus-on .screen-meta-toggle {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.focus-on #adminmenuback,
.focus-on #adminmenuwrap {
	-webkit-transform: translateX( -100% );
	-ms-transform: translateX( -100% );
	transform: translateX( -100% );
}

.focus-on .screen-meta-toggle {
	-webkit-transform: translateY( -100% );
	-ms-transform: translateY( -100% );
	transform: translateY( -100% );
}

.focus-off #adminmenuback,
.focus-off #adminmenuwrap,
.focus-off .screen-meta-toggle {
	-webkit-transform: translateX( 0 );
	-ms-transform: translateX( 0 );
	transform: translateX( 0 );
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
